.LoginViewContainer {
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.Logo {
	width: 256px;
	margin: 25px;
	margin-top: 250px;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.LoginForm {
	display: flex;
	flex-direction: column;
	padding: 50px;
	background-color: #151515;
	border-radius: 15px;
	min-width: 300px;
}

.LoginForm input {
	font-family: 'Poppins';
	font-weight: 500;
	background-color: #333;
	color: #fff;
	border: 0;
	border-radius: 25px;
	padding: 15px;
	margin: 5px;
	transition: background-color 0.25s ease;
}

.LoginForm input:focus {
	outline: none;
	background-color: #222;
}

.LoginForm input[type='submit'] {
	background-color: #efefef;
	font-weight: 700;
	margin-top: 25px;
	color: #333;
	cursor: pointer;
	transition: all ease 0.25s;
}

.LoginForm input[type='submit']:hover {
	background-color: #333;
	color: #efefef;
}

.LoginFormLinks {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.LoginFormLinks a {
	color: #cecece;
	margin-top: 2px;
}
