.RightHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	padding: 25px;
	height: 100px;
}

.SearchBarContainer {
	width: 100%;
}

.SearchBar {
	width: 95%;
	padding: 10px;
	border-radius: 5px;
	border: 0;
	background-color: #dfdfdf;
}

.SearchBar:focus {
	outline: none;
	border: 2px solid #efefef;
}
